@font-face {
  font-family: "Raleway";
  src: url("./Font/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "BerlinSans";
  src: url("./Font/berlinsans.ttf");
}
/* Custom Variables */
$background: black;
$font-color-nav: white;
$font-color-nav-hover: rgb(56, 181, 235);
$Berlin: "BerlinSans";
$Raleway: "Raleway";
$Logo-Color-Primary: rgb(44, 87, 103);
$Logo-Color-Secondary: rgb(127, 187, 188);

/* NavBar Bootstrap Modification */
$navbar-light-color: rgba($font-color-nav, 0.55);
$navbar-light-hover-color: rgba($font-color-nav, 0.7);
$navbar-light-active-color: rgba($font-color-nav, 0.9);
$navbar-light-disabled-color: rgba($font-color-nav, 0.3);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($font-color-nav, 0.2);
$navbar-light-brand-color: $font-color-nav;
$navbar-light-brand-hover-color: $font-color-nav-hover;
/* This import remains on the bottom of the modified styles  */
@import "~bootstrap/scss/bootstrap";
/* Base Style */
html,
body {
  height: 100%;
}
body {
  background-color: $background;
  font-family: "Raleway";
}
/* NavBar */
nav {
  background-color: $Logo-Color-Primary;
  color: $font-color-nav;
  border-bottom: 2px white solid;
  .nav-button {
    color: $font-color-nav;
    background-color: transparent;
    border: transparent 4px solid;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
  }
  .nav-button:hover {
    border: $font-color-nav 4px solid;
    border-radius: 10px;
  }
  .navbar-brand {
    font-family: $Berlin;
    font-size: 2em;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav-link {
    margin-left: 1.5px;
  }
  button.navbar-toggler {
    margin-right: 3%;
    margin-left: 0;
  }
  a {
    font-size: 1.75em;
    font-weight: 500;
  }
}
.nav-logo {
  height: 150px;
}
.top-spacer {
  height: 100px;
}
.greeting {
  background: $Logo-Color-Secondary;
  text-align: center;
  width: fit-content;
  border-radius: 15px;
  h1 {
    font-family: $Berlin;
  }
  .logo-display {
    height: 30em;
    margin-top: 1.5em;
    border-radius: 10px;
    border: 2px solid $Logo-Color-Primary;
  }
}
.msg {
  background-color: $Logo-Color-Secondary;
  border-radius: 15px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
