@font-face {
  font-family: "Raleway";
  src: url("./Font/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "BerlinSans";
  src: url("./Font/berlinsans.ttf");
}
/* Custom Variables */
$background: #111;
$font-color-nav: white;
$font-color-nav-hover: rgb(56, 181, 235);
$Berlin: "BerlinSans";
$Raleway: "Raleway";
$Logo-Color-Primary: rgb(44, 87, 103);
$Logo-Color-Secondary: rgb(127, 187, 188);
$Logo-Color-Tertiary: rgb(73, 99, 99);

/* Theme Color Modification */
$theme-colors: (
  "primary": $Logo-Color-Secondary,
);

/* NavBar Bootstrap Modification */
$navbar-light-color: rgba($font-color-nav, 0.55);
$navbar-light-hover-color: rgba($font-color-nav, 0.7);
$navbar-light-active-color: rgba($font-color-nav, 0.9);
$navbar-light-disabled-color: rgba($font-color-nav, 0.3);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($font-color-nav, 0.2);
$navbar-light-brand-color: $font-color-nav;
$navbar-light-brand-hover-color: $font-color-nav-hover;

/* Navbar Brand Mod */
.navbar-brand {
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;

  margin-right: 0px;
  @include font-size($navbar-brand-font-size);
  text-decoration: if($link-decoration == none, null, none);
  white-space: normal;

  &:hover,
  &:focus {
    text-decoration: if($link-hover-decoration == underline, none, null);
  }
}

// Button Bootstrap Modification
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $Raleway;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;
$btn-white-space: null; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;

$btn-border-width: $input-btn-border-width;

$btn-font-weight: $font-weight-normal;
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075);
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-disabled-opacity: 0.65;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, 0.125);

$btn-link-color: $link-color;
$btn-link-hover-color: $link-hover-color;
$btn-link-disabled-color: $gray-600;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius-sm;
$btn-border-radius-lg: $border-radius-lg;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

$btn-hover-bg-shade-amount: 15%;
$btn-hover-bg-tint-amount: 15%;
$btn-hover-border-shade-amount: 20%;
$btn-hover-border-tint-amount: 10%;
$btn-active-bg-shade-amount: 20%;
$btn-active-bg-tint-amount: 20%;
$btn-active-border-shade-amount: 25%;
$btn-active-border-tint-amount: 10%;

/* This import remains on the bottom of the modified styles  */
@import "~bootstrap/scss/bootstrap";
/* Base Style */
html,
body {
  height: 100%;
}

body {
  background-color: $background;
  font-family: "Raleway";
}
/* NavBar */
nav {
  background-color: $Logo-Color-Primary;
  color: $font-color-nav;
  border-bottom: 2px white solid;
  .nav-button {
    color: $font-color-nav;
    background-color: transparent;
    border: transparent 4px solid;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
  }
  .nav-button:hover {
    border: $font-color-nav 4px solid;
    border-radius: 10px;
  }
  .navbar-brand {
    font-family: $Berlin;
    font-size: 1.25em;
    font-weight: 700;
    padding-left: 5px;
  }
  .nav-link {
    margin-left: 1.5px;
  }
  button.navbar-toggler {
    margin-right: 3%;
    margin-left: 0;
  }
  a {
    font-size: 1.75em;
    font-weight: 500;
  }
}
.nav-logo {
  height: 150px;
}
.landing {
  background: url("./backgrounds/grasslake.png") no-repeat center center fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  overflow: auto;
}
.wifi {
  background: url("./backgrounds/grasslake.png") no-repeat center center fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  overflow: auto;
}
.equipment {
  background: url("./backgrounds/grasslake.png") no-repeat center center fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  overflow: auto;
}
.development {
  background: url("./backgrounds/grasslake.png") no-repeat center center fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  overflow: auto;
}
.top-spacer {
  height: 100px;
}
.greeting {
  background: $Logo-Color-Secondary;
  min-height: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
.logo-display {
  object-fit: contain;
  margin-top: 1.5em;
  border-radius: 10px;
  border: 2px solid $Logo-Color-Primary;
}
.msg {
  background-color: $Logo-Color-Secondary;
  border-radius: 15px;
  height: fit-content;
  .msg-back {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid $Logo-Color-Primary;
    background-color: white;
    font-size: 1.5em;
    font-weight: 500;
  }
}
.footer {
  background-color: $Logo-Color-Primary;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: white 2px solid;
  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px $Logo-Color-Tertiary solid;
    color: $Logo-Color-Tertiary;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 1em;
  }
}
